@use './partials/_variables.scss' as *;
@use './partials/_mixins.scss' as *;
@use './partials/_mixins.scss' as *;

// RESET

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}


ul {
  list-style: none;
  
  li {
    margin: 0 $xsmall-size;
    display: inline;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 1rem;
}

i {
  font-size: 1.3rem;
}

// UTILS PROPS

.d-flex {
  display: flex;
}

.container {
  margin: 0 auto;
  padding: 0 $small-size;
  max-width: 1180px;
  @include between-align-center;
}

.layover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}