@use './partials/_variables.scss' as *;
@use './partials/_mixins.scss' as *;


// RESET

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}


ul {
  list-style: none;
  
  li {
    margin: 0 $xsmall-size;
    display: inline;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 1rem;
}

i {
  font-size: 1.3rem;
}

// UTILS PROPS

.d-flex {
  display: flex;
}

.container {
  margin: 0 auto;
  padding: 0 $small-size;
  max-width: 1180px;
  justify-content: space-between;
  align-items: center;
}